chumpy @ git+https://github.com/scottandrews/chumpy.git@fe51783e0364bf1e9b705541e7d77f894dd2b1ac
matplotlib==3.5.3
nibabel==4.0.2
numpy==1.19.1
opencv-python==4.5.1.48
torch==1.13.1
torchvision==0.14.1
yacs==0.1.8
