certifi==2024.2.2
charset-normalizer==3.3.2
chumpy @ git+https://github.com/scottandrews/chumpy.git@fe51783e0364bf1e9b705541e7d77f894dd2b1ac
cycler==0.11.0
fonttools==4.38.0
fvcore==0.1.5.post20221221
idna==3.6
imageio==2.31.2
iopath==0.1.10
kiwisolver==1.4.5
matplotlib==3.5.3
nibabel==4.0.2
numpy==1.19.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.5.1.48
packaging==23.2
Pillow==9.5.0
portalocker==2.7.0
pycocotools==2.0.7
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@a27755db416644273de8d70b770f1d2e68db720b
PyYAML==6.0.1
requests==2.31.0
scipy==1.7.3
six==1.16.0
tabulate==0.9.0
termcolor==2.3.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.66.2
trimesh==4.1.7
typing_extensions==4.7.1
urllib3==2.0.7
yacs==0.1.8
